@media (max-width: 1169px) and (min-width: 1000px) {
  header nav ul {
    width: 100%;
    padding: 20px;
  }
  header .header-main-wrapper {
    height: 293px;
  }
  header .header-main-wrapper .header-main {
    width: 100%;
    position: relative;
    padding: 0px 20px;
    flex-wrap: wrap;
  }
  header .header-main-wrapper .header-main .header-main-box {
    height: 175px;
  }
  header .header-main-wrapper .header-main .support {
    width: 500px;
  }
  .content-wrapper .content {
    width: 100%;
  }
  .main-page-banners-socials {
    display: block;
  }
  .main-page-banners-socials .main-page-banners {
    display: block;
  }
  .main-page-banners-socials .main-page-banners .banner {
    margin: 0px 20px 30px;
    width: calc(100% - 40px);
  }
  .main-page-banners-socials .main-page-banners .banner:last-child {
    margin-bottom: 0px;
  }
  .conscience {
    margin: 30px 20px;
  }
  .conscience ul li {
    width: 427px;
  }
  .content-box {
    margin: 0px 20px 30px;
  }
  .content-box .content-main-img {
    width: calc(100% + 110px);
  }
  .content-box .content-main-img img {
    width: 100%;
  }
  footer .container {
    width: 100%;
  }
  footer .copyright {
    width: 100%;
  }
  footer .copyright div {
    width: 100%;
  }
  .body-404 {
    background-position-x: -300px;
  }
  .page-404 .page-404-title,
  .page-404 .page-404-go-main {
    left: 20px;
  }
  .main-bottom {
    display: block;
  }
  .who-are-we {
    width: calc(100% - 40px) !important;
  }
  .news-short {
    width: 960px;
  }
  .ask_popup_open {
    width: calc(100% - 40px) !important;
    position: absolute;
    top: 175px;
    left: 20px;
  }
  .breadcrumbs .container {
    width: calc(100% - 40px) !important;
  }
  .page-orders .order-info .fields {
    flex-wrap: wrap;
  }
  .page-orders .order-info .field-box {
    display: inline-block;
  }
  .page-orders .order-info .field-box .value,
  .page-orders .order-info .field-box input {
    width: 250px;
  }
  .page-orders .order-info .order-usl-name {
    margin-bottom: 10px;
  }
  .page-category .content-box,
  .page-balance-add .content-box {
    margin-bottom: 30px;
  }
  .page-category .filter label,
  .page-balance-add .filter label {
    width: 280px;
  }
  .category-usl-list {
    margin-left: 20px;
    margin-right: 20px;
  }
  .category-usl-list .category-usl {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .category-usl-list .category-usl .category-usl-info {
    padding: 26px 50px;
    height: 300px;
  }
  .category-usl-list a.buy-lnk {
    margin-left: 50px !important;
    width: calc(100% - 100px) !important;
  }
  .page-authors .authors-list {
    margin-left: 20px;
    margin-right: 20px;
  }
  .page-balance-add .category-usl-list .category-usl .card-name {
    /*background-position:35px 27px;*/
    padding: 60px 40px 30px 40px;
  }
  .page-news .content-box {
    margin-bottom: 30px;
  }
  .page-news .news-list {
    margin-left: 30px;
    margin-right: 30px;
  }
  .page-cart .content-box,
  .page-checkout .content-box {
    margin-bottom: 30px;
  }
  .page-cart .cart-item,
  .page-checkout .cart-item {
    height: 510px;
  }
  .page-cart .cart-item div.field-box:first-child,
  .page-checkout .cart-item div.field-box:first-child {
    margin-left: 0px;
  }
  .page-cart .cart-item .usl-name .param,
  .page-checkout .cart-item .usl-name .param {
    width: 260px;
    overflow-x: hidden;
  }
  .page-cart .cart-item .price,
  .page-checkout .cart-item .price {
    width: calc(50% - 15px - 50px);
    margin-left: 42px !important;
  }
  .page-cart .cart-item .price .value,
  .page-checkout .cart-item .price .value {
    width: 100%;
  }
  .page-cart .cart-item .count,
  .page-checkout .cart-item .count {
    width: calc(50% - 15px - 50px);
  }
  .page-cart .cart-item .count input,
  .page-checkout .cart-item .count input {
    width: 100%;
  }
  .page-cart .cart-item .count .input_number,
  .page-checkout .cart-item .count .input_number {
    display: block;
  }
  .page-cart .cart-item .link,
  .page-checkout .cart-item .link {
    width: calc(100% - 82px);
    margin-left: 40px !important;
    margin-top: 30px !important;
  }
  .page-cart .cart-item .link input,
  .page-checkout .cart-item .link input {
    width: 100%;
  }
  .page-cart .cart-item button.cancel,
  .page-checkout .cart-item button.cancel {
    width: calc(100% - 82px);
    margin-left: 40px !important;
  }
  .page-price .price-item .usl-name {
    width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 20px;
  }
  .page-price .price-item .usl-name .param {
    width: 100%;
    overflow-x: hidden;
  }
  .page-price .price-item .price-id .value {
    width: 150px;
  }
  .page-price .price-item .price-id {
    margin-left: 50px !important;
  }
  .page-price .price-item .price-minmax-orders .value {
    width: 205px;
  }
  .payments .payments-list,
  .page-payments .payments-list {
    grid-column-gap: calc((100% - 148px * 5) /4);
  }
  .page-product .content-box {
    margin-bottom: 30px;
  }
  .page-product .product-img {
    margin-left: 20px;
  }
  .page-product .product-img img {
    border-radius: 6px;
  }
  .page-product .product-info {
    width: 460px;
    margin-bottom: 0px;
  }
  .page-product .product-info .field-box {
    display: block;
    margin-bottom: 27px;
  }
  .page-product .product-info .field-box hr {
    display: none;
  }
  .page-product .product-info .field-box .value {
    display: block;
  }
  .page-product .product-info input[type=submit] {
    width: 100%;
  }
  .page-product .product-info .link input,
  .page-product .product-info .count input,
  .page-product .product-info .value {
    width: 360px;
  }
  .page-product .rating {
    display: inline-block;
    vertical-align: bottom;
  }
  .page-product.balance-add-x .product-img {
    width: 370px;
    margin-left: 20px;
    margin-right: 10px;
  }
  .page-product.balance-add-x .product-img img {
    width: 100%;
  }
  .page-product.balance-add-x .product-info {
    width: 600px;
  }
  .page-product.balance-add-x .product-info .field-box {
    margin-top: 20px;
    margin-bottom: 0px;
    display: flex;
  }
  .page-product.balance-add-x .product-info .field-box hr {
    display: block;
  }
  .page-product.balance-add-x .product-info .count input,
  .page-product.balance-add-x .product-info .value {
    width: 200px;
  }
  .page-feedback textarea,
  .page-new-article textarea {
    height: 230px;
  }
  .page-feedback .name-email,
  .page-new-article .name-email {
    /*width:calc(~'100%')*/
    width: 100%;
  }
  .page-feedback .name-email .field-box,
  .page-new-article .name-email .field-box {
    width: 47%;
  }
  .page-feedback .name-email input,
  .page-new-article .name-email input {
    width: 100%;
  }
  .page-auth .pass-email .field-box {
    width: 46%;
  }
  .page-auth .pass-email input {
    width: 100%;
  }
  .page-reg .reg-fields input {
    width: 410px;
  }
  .page-referals .referal-item .field-box {
    margin-bottom: 30px;
  }
  .page-referals .referal-item .ref-name {
    width: 47%;
  }
  .page-referals .referal-item .ref-orders {
    width: 47%;
  }
  .page-referals .referal-item .ref-id {
    width: 47%;
  }
  .page-referals .referal-item .ref-pribil {
    width: 47%;
  }
  .page-checkout .info .field-box input,
  .page-payment-check .info .field-box input {
    width: 185px;
  }
  .page-checkout .cart-item,
  .page-payment-check .cart-item {
    height: 420px;
  }
  .page-tickets .ticket-add textarea {
    height: 280px;
  }
  .page-tickets .ticket-item .field-box {
    width: 47% !important;
  }
  .page-tickets .ticket-item .field-box .value {
    width: 100% !important;
  }
  .filter a {
    width: 400px;
  }
  .alert {
    margin: 0px 20px 50px;
  }
  .balance-history-item .date {
    width: 125px;
  }
  .balance-history-item .opis {
    width: 470px;
  }
  .profile-menu {
    justify-content: space-between;
  }
  .profile-menu div {
    width: 30%;
  }
  .profile-menu div a {
    width: 100%;
  }
  .page-api {
    display: block;
  }
  .page-api .content-box {
    margin-bottom: 30px;
    width: auto;
    display: block;
  }
  .page-vaks .ajax-file-upload-statusbar {
    width: 266px !important;
    margin-left: 30px !important;
  }
  .page-vaks .ajax-file-upload-statusbar:nth-child(3n-2) {
    margin-left: 0px !important;
  }
  .page-price .price-opt-banner {
    background-position: right -100px top;
    background-position-y: center;
    padding-right: 480px;
  }
  .page-price .price-opt-banner h1 {
    width: 530px;
  }
  .page-bonuses .content-box {
    height: 214px;
  }
  .page-bonuses .content-box .bonus-img {
    width: 310px;
  }
  .page-bonuses .content-box .bonus-info .bonus-text {
    height: 90px;
  }
  .page-new-article .article-info,
  .page-news2 .article-info {
    grid-template-columns: repeat(3, 1fr);
  }
  .page-news2 .article-info {
    grid-template-columns: repeat(3, 1fr);
  }
  .page-news2 .socials {
    margin-left: 20px;
    margin-right: 20px;
  }
  .page-news2 .news-item {
    margin: 20px;
  }
  .header-socials .owl-carousel {
    width: 100%;
    padding: 15px 60px;
  }
  .header-socials .owl-prev {
    left: 20px !important;
  }
  .header-socials .owl-next {
    right: 20px !important;
  }
  .soc-price .value {
    position: absolute;
    right: 50px;
    top: 5px;
    overflow: hidden;
    max-width: 200px;
  }
  .soc-price span {
    width: 511px;
    left: 100px;
    padding-left: 30px;
  }
}
@media (max-width: 1169px) {
  .main-page-socials {
    display: none;
    width: 960px;
    margin: 0px 20px;
    background: white;
    border-radius: 6px;
    padding: 20px 0px;
    margin-bottom: 30px;
  }
  .main-page-socials div {
    display: inline-block;
    width: 187px;
    height: 80px;
  }
  footer .container {
    padding: 30px !important;
  }
  .main-page-banners {
    display: block;
  }
  .main-page-banners .banner:last-child {
    margin-bottom: 0px !important;
  }
  page-contacts .ticket span {
    width: 100%;
  }
}
